:root {
  --gradient-color: linear-gradient(to right, #8aeffa, #18c5ef);

  --gradient-hover-color: linear-gradient(to right, #1294a2, #086a82);

  --primary-color: #12a1c5;
  --primary-color-hover: #8aeffa;
  --slim-bg-color: #cdf1f5;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General */

a {
  text-decoration: none;
  color: white;
}

body {
  color: var(--primary-color);
  background-color: #e7fdff;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
}

button {
  font-size: 1.2rem;
  font-family: "Noto Sans", sans-serif;
}

footer {
  margin-top: 100px;
  padding: 50px;
  background-image: var(--gradient-color);
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.row {
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  flex-flow: row wrap;
}

.col-1 {
  flex: 1 1 auto;
  width: 8.33333333333%;
}

.col-2 {
  flex: 1 1 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 1 1 auto;
  width: 25%;
}

.col-4 {
  flex: 1 1 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 1 1 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 1 1 auto;
  width: 50%;
}

.col-7 {
  flex: 1 1 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 1 1 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 1 1 auto;
  width: 75%;
}

.col-10 {
  flex: 1 1 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 1 1 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 1 1 auto;
  width: 100%;
}

/* Navbar section */
.navbar {
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 5%;
}

.navbar-brand {
  margin-right: auto;
  cursor: pointer;
  padding: 4px;
  text-align: center;
}

.navbar-brand img {
  width: 50px;
  object-fit: cover;
}

.nav-link {
  padding: 4px;
}

.nav-link .navbar-list {
  list-style-type: none;
}

.nav-link .navbar-list .navbar-li {
  text-align: center;
  display: inline-block;
  transition: all 0.5s ease;
  padding: 0 20px;
}

.nav-link .navbar-list .navbar-li :hover {
  color: var(--primary-color-hover);
}

.nav-link .navbar-list .active-link.navbar-li a {
  color: var(--primary-color);
}

.nav-link .navbar-list .navbar-li a {
  text-decoration: none;
  color: var(--primary-color);
  position: relative;
}

.nav-link .navbar-list .navbar-li a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 25%;
  right: 25%;
  border: 1px var(--primary-color-hover) solid;
  opacity: 0;
  transition: all 0.5s ease;
}

.nav-link .navbar-list .navbar-li a:hover::after {
  opacity: 1;
}

.nav-link .navbar-list .active-link.navbar-li a::after {
  opacity: 1;
}

.nav-collapse {
  padding: 20px 15px;
  margin-left: 20px;
  cursor: pointer;
  border: 0.5px solid var(--primary-color);
  border-radius: 8px;
  display: none;
  transition: all 0.5s ease;
}

.nav-collapse:hover {
  background-color: var(--primary-color-hover);
  border: 0.5 solid transparent;
}

.nav-collapse .navbar-bar {
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--primary-color);
  position: relative;
}

.nav-collapse .navbar-bar::before {
  position: absolute;
  content: "";
  top: 5px;
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--primary-color);
}

.nav-collapse .navbar-bar::after {
  position: absolute;
  content: "";
  top: -5px;
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--primary-color);
}

/*Button section*/

.btn {
  padding: 10px 25px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: #fff;
}

.btn-outline {
  background-color: transparent;
  background-image: none;
  border: var(--primary-color) solid 1px;
  transition: all 0.5s ease;
}

.btn-outline:hover {
  background-color: var(--primary-color);
}

.btn-fill {
  border: 1px solid transparent;
  background-image: var(--gradient-color);
  transition: all 0.5s ease;
}

.btn-fill:hover {
  background-image: var(--gradient-hover-color);
}

.btn-register {
  color: var(--primary-color);
}

.btn-register:hover {
  color: #fff;
}

.btn-login {
  margin-left: 15px;
}

.btn-find {
  display: block;
  width: fit-content;
  margin: 50px auto;
}

.btn-clear {
  background-color: inherit;
  background: none;
  padding: 0;
  border: none;
  opacity: 0.7;
  transition: all 0.25s ease;
}

.btn-clear:hover {
  opacity: 1;
}

/* Homepage section */
.body-container {
  padding: 0 100px;
}

.hero-container {
  margin: 150px 0;
  position: relative;
}

#hero-title {
  font-size: 55px;
  text-align: center;
  width: 50%;
  margin: auto;
}

.job-cards {
  margin-top: 100px;
  padding: 0 15px;
}

.job-cards .job-card {
  padding: 0px 10px;
}

.job-cards .job {
  height: 100%;
  border: 1px solid var(--primary-color);
  padding: 50px 40px;
  border-radius: 8px;
  transition: all 0.25s ease-in-out;
}

.job-cards .job .btn-view-job {
  background-color: #fff;
  color: var(--primary-color);
}

.job-cards .job:hover .btn-view-job {
  background-color: var(--primary-color-hover);
  color: #fff;
}

.job-cards .job:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.job-cards .job .job-img {
  width: 35%;
  margin-bottom: 20px;
}

.job-cards .job .job-title {
  font-size: 35px;
  margin-bottom: 50px;
}

.job-cards .job .job-stats {
  font-size: 17px;
  margin-top: 50px;
  line-height: 50px;
  margin-bottom: 100px;
  font-weight: 600;
}

#hero-subtitle {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  width: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.advertisement-container {
  margin: 75px 0;
}

#ad-title {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
}

#ad-subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  width: 75%;
  margin: auto;
}

/* Job page section */

.job-container {
  position: relative;
  margin: 50px 0;
}

.job-container .row > [class*="col-"] {
  padding: 10px;
}

.user-profile-container {
  text-align: center;
  border-radius: 8px;
  padding: 50px;
  margin-bottom: 50px;
  background-color: #fff;
}

.user-profile-container .user-avatar {
  width: 50%;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-profile-container .user-name {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
}

.user-profile-container .user-profession {
  color: var(--primary-color);
  font-size: 15px;
  margin-bottom: 20px;
}

.user-profile-container .btn-edit-account {
  display: block;
  border: none;
  background-image: none;
  background-color: var(--slim-bg-color);
  color: var(--primary-color);
  width: 100%;
  transition: all 0.5s ease;
}

.search-box {
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
}

.search-box .search-section .btn-search {
  background-image: none;
  background-color: #fff;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.search-box .search-section .btn-search:hover {
  color: #fff;
  background-color: var(--primary-color);
}

.search-box .search-box-title {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 15px;
}

.search-box .search-section {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

.search-box .job-result-number {
  color: var(--primary-color);
  margin-top: 30px;
  border-radius: 8px;
  padding: 15px;
  background-color: var(--slim-bg-color);
  text-align: center;
}

.search-box .search-section .search-input {
  flex: 1 1 auto;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  transition: all 0.5s ease;
}

.search-box .search-section .search-input:hover {
  border-color: var(--primary-color-hover);
}

.search-box .search-section .search-input i {
  color: var(--primary-color);
  position: absolute;
  right: auto;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.search-box .search-section .search-input input[type="text"] {
  outline: none;
  border-radius: 8px;
  padding: 10px;
  border: none;
  width: 100%;
  background-color: transparent;
  color: var(--primary-color);
  text-indent: 40px;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
}

.filter-reset-container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.filter-reset-container .job-filter-title {
  font-size: 22px;
  font-weight: 500;
}

.filter-reset-container .btn-clear {
  font-size: 18px;
  color: var(--primary-color);
}

.form-group {
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
}

.form-group .form-group-header {
  display: flex;
  justify-content: space-between;
}

.form-group .form-group-header .form-group-label {
  font-size: 18px;
  color: var(--primary-color);
}

.form-group .form-group-header .btn-clear {
  font-size: 16px;
  color: var(--primary-color);
}

.form-group .checkbox-row {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.form-group .checkbox-row label {
  margin-left: 10px;
  color: var(--primary-color);
  opacity: 0.8;
  font-weight: bold;
  font-size: 16px;
}

.form-group .checkbox-row input[type="checkbox"] {
  vertical-align: middle;
  accent-color: var(--primary-color);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.form-group .checkbox-row p {
  font-size: 16px;
  color: var(--primary-color);
  opacity: 0.6;
}

.job-listing {
  margin-top: 30px;
  height: 500px;
  overflow-y: scroll;
}

.job-listing .job-item {
  margin: 20px 0;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  color: #868686;
}

.job-listing .job-item .job-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.job-listing .job-item .job-header .save-icon {
  margin-left: auto;
  border-radius: 8px;
  padding: 10px 15px;
  background-color: var(--primary-color);
}

.job-listing .job-item .job-header img {
  width: 15%;
}

.job-listing .job-item .job-header .job-company {
  margin-left: 20px;
}

.job-listing .job-item .job-header .job-company .job-name {
  font-size: 25px;
  color: #000;
}

.job-listing .job-item .job-header .job-company h3 {
  font-size: 18px;
}

.job-listing .job-item .job-description {
  font-size: 16px;
  margin: 20px 15px;
  text-align: justify;
}

.job-listing .job-item .button-row-wrapper {
  display: flex;
}

.job-listing .job-item .button-row-wrapper .skill {
  font-size: 16px;
  cursor: auto;
  margin-right: 10px;
  padding: 5px 16px;
  font-weight: 600;
  color: #000;
  background-color: rgba(0, 0, 0, 0.05);
}

.job-listing .job-item .button-row-wrapper .btn-apply {
  font-size: 16px;
  margin-left: auto;
  padding: 5px 20px;
  width: fit-content;
  color: var(--primary-color);
}

.job-listing .job-item .button-row-wrapper .btn-apply:hover {
  color: #fff;
}

/* Pagination section */

.page-row {
  width: fit-content;
  margin: 40px auto;
  display: flex;
  column-gap: 10px;
}

.page-row .page-index {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 8px;
}

/* Companies */

.companies-container {
  margin: 100px 0px;
  position: relative;
}

.companies-container #company-page-header {
  text-align: center;
  font-size: 50px;
  width: 75%;
  margin: 0 auto 30px;
}

.companies-container #company-sub-title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  width: 50%;
  margin: 0 auto 50px;
}

.company-card {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
}

.company-card .company-card-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.company-card .company-card-header img {
  padding: 10px;
  width: 25%;
}

.company-card .company-card-header .company-name {
  margin-left: 15px;
  color: #000;
}

.company-card .company-card-body {
  overflow-y: visible;
  height: 150px;
  padding: 5px 15px;
}

.company-card .company-card-body p {
  font-size: 16px;
  color: #868686;
  text-align: justify;
}

.company-card .company-card-footer {
  display: flex;
  justify-content: flex-end;
  padding: 25px 15px 10px 15px;
}

.company-card .company-card-footer .btn-company-detail {
  color: var(--primary-color);
  padding: 10px 15px;
  font-size: 16px;
  margin-right: 10px;
}

.company-card .company-card-footer .btn-company-detail:hover {
  color: #fff;
}

.company-card .company-card-footer .btn-company-job {
  padding: 10px 15px;
  font-size: 16px;
}

/*Register Page*/
.register-container {
  margin: 50px 0px;
  position: relative;
}

.register-container .register-form-container {
  border-radius: 16px;
  padding: 20px;
  background-color: #fff;
  width: 50%;
  margin: auto;
}

.register-container .register-form-container #register-form-header {
  text-align: center;
  line-height: 50px;
  font-size: 40px;
}
.register-container .register-form-container .name-row {
  margin: 20px 0 0 0;
}

.register-container .register-form-container .option-row-wrapper {
  padding: 10px;
}

.register-container .register-form-container .option-row-wrapper h4 {
  font-weight: 400;
}

.register-container .register-form-container .option-row {
  margin: 20px 0 0 0;
}

.register-container .register-form-container .form-group {
  margin-top: 10px;
  padding: 10px;
}

.register-container .register-form-container .form-group label {
  margin-bottom: 10px;
  display: block;
}

.register-container .register-form-container .form-group input {
  width: 100%;
  box-sizing: border-box;
  border: 0.5px solid var(--primary-color);
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  outline: solid 0.5px var(--primary-color-hover);
}

.register-container .register-form-container .form-group select {
  width: 100%;
  box-sizing: border-box;
  border: 0.5px solid var(--primary-color);
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  outline: solid 0.5px var(--primary-color-hover);
}

.register-container
  .register-form-container
  .option-row
  .form-group
  input[type="radio"] {
  border: 0;
  outline: 0;
  width: fit-content;
  accent-color: var(--primary-color);
  padding: 0;
  border-radius: 0;
}

.register-container .register-form-container .option-row .form-group label {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
}

.btn-group {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn-group .btn-account-register {
  margin-right: 20px;
}

.btn-group .reset-info-btn {
  color: var(--primary-color);
}

.btn-group .reset-info-btn:hover {
  color: #fff;
}

/* Login Page */

.login-container {
  margin: 100px 0px;
  position: relative;
}

.login-container .login-form-container {
  border-radius: 16px;
  padding: 20px;
  background-color: #fff;
  width: 50%;
  margin: auto;
}

.login-container .login-form-container #login-form-header {
  text-align: center;
  line-height: 50px;
  font-size: 40px;
}

.login-container .login-form-container .form-group {
  margin-top: 20px;
  padding: 10px;
}

.login-container .login-form-container .form-group label {
  margin-bottom: 10px;
  display: block;
}

.login-container .login-form-container .form-group input {
  width: 100%;
  box-sizing: border-box;
  border: 0.5px solid var(--primary-color);
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  outline: solid 0.5px var(--primary-color-hover);
}

.login-container
  .login-form-container
  .option-row
  .form-group
  input[type="radio"] {
  border: 0;
  outline: 0;
  width: fit-content;
  accent-color: var(--primary-color);
  padding: 0;
  border-radius: 0;
}

.login-container .login-form-container .option-row .form-group {
  margin: 0;
}

.login-container .login-form-container .option-row .form-group label {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
}

.login-container .login-form-container .option-row-wrapper {
  padding: 10px;
}

.login-container .login-form-container .option-row-wrapper h4 {
  font-weight: 400;
}

.login-container .login-form-container .option-row {
  margin: 20px 0 0 0;
}

/* Footer section */

.footer-container {
  color: #fff;
}

.footer-container .footer-list {
  padding: 30px;
}

.footer-container .footer-list #company-name {
  font-size: 30px;
  margin-bottom: 30px;
}

.footer-container .footer-list .footer-column-list {
  list-style-type: none;
}
.footer-container .footer-list .footer-list-header {
  font-size: 20px;
}

.footer-container .footer-list .footer-column-list .item-li {
  font-size: 18px;
  margin-top: 30px;
  transition: all 0.25s ease;
}

.footer-container .footer-list .footer-column-list .item-li:hover {
  opacity: 1;
}

.item-text {
  opacity: 0.8;
  font-weight: 300;
  font-size: 16px;
}

.social-media {
  margin: auto;
  margin-top: 30px;
  width: 75%;
  display: flex;
  justify-content: space-evenly;
}

/* Responsive design*/
@media all and (max-width: 920px) {
  .navbar {
    justify-content: center;
    flex-wrap: wrap;
  }
  .navbar-brand {
    order: 1;
    flex: 1;
    display: block;
    text-align: left;
  }

  .nav-link {
    order: 3;
    padding: 15px 0px;
    flex: 1 1 100%;
  }
  .nav-link .navbar-list {
    transition: 0.5s ease-in;
  }
  .nav-link .navbar-list .navbar-li {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    display: none;
  }
  .nav-link .navbar-list .navbar-li.active {
    display: block;
  }

  .nav-button {
    width: auto;
    display: block;
    order: 2;
  }

  .nav-collapse {
    order: 2;
    display: inline-block;
  }
  #hero-title,
  #hero-subtitle {
    width: 100%;
  }
}
